<div class="col-sm-8 col-sm-offset-2">
    <h4>Ajouter un produit</h4>
    <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nom">Nom du produit </label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
        </div>
        <div class="form-group">
            <label for="qte">Qantité </label>
            <input type="number" class="form-control" id="qte" formControlName="qte">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="produitForm.invalid">Enregistrer</button>
    </form>
</div>
