<div class="col-xs-12">
    <h2>Produits disponibles</h2>

    <ul class="list-group">
        <app-single-produit
            *ngFor="let produit of produits; let i = index"
                [index]="i"
                [id]="produit.id"
                [nom]="produit.nom"
                [qte]="produit.qte"></app-single-produit>
    </ul>
    
    <button class="btn btn-success"
            routerLink="new">Ajouter un produit</button>
    <button class="btn btn-primary"
            (click)="onSave()">Enregistrer</button>
    <button class="btn btn-primary"
            (click)="onFetch()">Charger</button>

    <app-cart></app-cart>
</div>
